Repository algosup/2024-2025-project-5-bubble-intermarche-team-4, pull requests merged in 2025-05, with the labels that each got.

#13 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Management

#42 Fixing Main's Functional Specification Document
  documents/functional/FunctionalSpecifications.md
Labels: Functional Specifications

#44 Data
  data/cheeses.json
Labels: Fix

#56 Merge Mix&Match data
  data/cheeses.json
  data/images-mix/Autumn_feast.png
  data/images-mix/Bistro_classic.png
  data/images-mix/Elegant_escape.png
  data/images-mix/Montain_picnic.png
  data/images-mix/Spring_garden.png
  data/images-mix/Sunset_trio.png
  data/images-mix/Winter_comfort.png
  data/mix.csv
Labels: Data

#62 Technical
  documents/technical/TechnicalSpecifications.md
  documents/technical/images/SearchDesign.png
  documents/technical/images/SearchSettings.png
Labels: Technical Specifiations

#64 Create Conventions.md
  documents/technical/Conventions.md
Labels: Technical Specifiations, Fix

#66 Mana
  README.md
  documents/functional/images/logo/QRCode.png
  documents/management/consentForm.md
  documents/management/images/dev.png
  documents/management/images/doc.png
  documents/management/images/hours.png
  documents/management/images/timeline.png
  documents/management/userFeedback.md
  documents/management/weeklyReports/allWeeks.md
  documents/management/weeklyReports/week1.md
  documents/management/weeklyReports/week2.md
  documents/management/weeklyReports/week3.md
  documents/management/weeklyReports/week4.md
  documents/management/weeklyReports/week5.md
  documents/management/weeklyReports/week6.md
Labels: Management
